body {
    font-size: .875rem;
}


/* * Sidebar */

.sidebar {
    position: fixed;
    top: 11%;
    right: 5%;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 11%;
    right: 5.8%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #F3B80A;
    color: white;
    cursor: pointer;
    border: 1px solid #C49035;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #C49035;
}