.nav-text{
    color:#F3B80A;
    font-size: 14px;
}

.nav-text:hover{
    color:#a1f30a;
}

.nav-item-li{
    font-family: 'Segoe UI','Segoe UI Regular',Regular;
    font-size: 20px;
    color: #fff;
}