body {
    background-color: #F8F8F8;
}

.nav-text {
    color: #F3B80A;
    font-size: 14px;
}

.nav-item-li {
    font-family: 'Segoe UI', 'Segoe UI Regular', Regular;
    font-size: 20px;
    color: #fff;
}

.font-custom {
    color: #707070;
    font-family: 'Segoe UI';
}

.btn-back-hover:hover {
    background-color: #F3B80A;
}

.input-text-custom {
    background: #F1F1F1;
    color: #BCBCBC;
}

.list-group-item.list-group-item-action {
    color: #919191;
    border: 0px;
}

.list-group-item.list-group-item-action:hover,
.list-group-item.list-group-item-action.active {
    background-color: #FFE188;
}

.nav-text-user {
    color: #fff;
}

a:hover,
.nav-link :hover,
.nav-text-user:hover,
.nav-text:hover,
.nav-item-li:hover {
    color: #C49035;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
}

.title-custom {
    font-size: 18px;
    color: #F3B80A;
}