
.step .img-tracking{
    width: 50px;
    height: 50px;
    background: #919191;
   
}

.step.active .img-tracking {
    background: #F3B80A;
}

#barTracking li:first-child:after {
    content: '';
    width: 38.5%;
    height: 10px;
    background: #878788;
    position: absolute;
    transform: translate(15%,-300%);
    z-index: 0;
}

#barTracking li:last-child:after {
    content: '';
    width: 39%;
    height: 10px;
    background: #878788;
    position: absolute;
    transform: translate(110%,-300%);
    z-index: 0;
}

#barTracking li.active:after {
    background: #F3B80A
}
