
.step .img-tracking{
    width: 50px;
    height: 50px;
    background: #919191;
   
}

.step.active .img-tracking {
    background: #F3B80A;
}

#barTracking li:first-child:after {
    content: '';
    width: 39.8%;
    height: 10px;
    background: #919191;
    position: absolute;
    transform: translate(-3%,-300%);
    z-index: 0;
}

#barTracking li:last-child:after {
    content: '';
    width: 40%;
    height: 10px;
    background: #919191;
    position: absolute;
    transform: translate(105%,-300%);
    z-index: 0;
}

#barTracking li.active:after {
    background: #F3B80A;
}

#barTracking li.Failure:after {
    background: #FF0404;
}

.step.Failure .img-tracking {
    background: #FF0404;
}
.status-done{
    color: #F3B80A;
}

.status-Underway{
    color: #919191;
}

.status-Failure{
    color: #FF0404;
}

